body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background: #eef;
}

ol, ul {
  padding-left: 0px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  background: white;
  border: 1px solid black;
  margin-bottom: 10px;
  width: 373px;
}

.square {
  /*background: #fff;*/
  border: 1px solid #000;
  float: left;
  font-size: 24px;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0px;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.undo {
  margin: 10px 0 10px 0;
}

.game {
  display: flex;
  flex-direction: row;
  width: 400px;
}

.game-board {
  background: #99f;
  border: 1px solid black;
  padding: 34px;
}

.game-info {
  background: #ddf;
  margin-left: 20px;
  border: 1px solid black;
  padding: 34px;
}
